/.idea
/.DS_Store
/cmake-build-debug
/build
/compile_commands.json
/.clang_complete
/.clangd
/.ccls-cache
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
/.cmake/
/.cache/
/screenshotgun.cbp
/Testing/
/screenshotgun_autogen/
/screenshotgun

src/utils/Changelog.h

/deploy/data.tar
/deploy/keys
