Toolbar #widget {
    background: #0e0e0e;
    border-radius: 25px;
}

Toolbar QPushButton,
Toolbar #selectedCircle {
    border-radius: 23px;
}

Toolbar QPushButton:hover {
    background: #df631d;
}

Toolbar #selectedCircle {
    background: #53a495;
}

Toolbar QPushButton#okButton {
    background: #fb0;
}
