<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Screenshotgun</Name>
    <Version>{VERSION}</Version>
    <Publisher>Vladimir Kosteley</Publisher>
    <ProductUrl>http://screenshotgun.com</ProductUrl>
    <InstallerWindowIcon>screenshotgun</InstallerWindowIcon>
    <InstallerApplicationIcon>screenshotgun</InstallerApplicationIcon>
    <Title>Screenshotgun Installer</Title>
    <Logo>screenshotgun.png</Logo>
    <RunProgram>@TargetDir@/screenshotgun</RunProgram>
    <StartMenuDir>Screenshotgun</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <ControlScript>controlscript.qs</ControlScript>

    <TargetDir>@ApplicationsDir@/Screenshotgun</TargetDir>
    <AdminTargetDir>@ApplicationsDir@/Screenshotgun</AdminTargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>http://screenshotgun.com/dist/installer-repository-win</Url>
            <Enabled>1</Enabled>
            <DisplayName>Official repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
